#abouttitle {
  background-color: transparent;
  border: none;
}

#aboutMaterialsCard {
  margin-top: 10px;
  background-image: url("materialsA.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 600px;
  height: 150px;
  text-align: center;
}

#aboutCardText {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
}

.WhyText {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  background-color: white;
  max-width: 600px;
}

#aboutGroupsCard {
  margin-top: 10px;
  background-image: url("betterself.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 600px;
  height: 150px;
  text-align: center;
}

#homeCard {
  margin: auto;
  margin-top: 5%;
  max-width: 100vw;
  max-height: 100vh;
  background-color: rgba(204, 241, 252, 0.4);
  border: none;
  text-align: center;
}

#homeButtons {
  text-align: center;
  background-color: #072359;
  margin: 5%;
  border: 2px solid #e8eefa;
}

.btn-group {
  text-align: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  width: 40%;
}

.card {
  background-color: rgba(245, 249, 252, 1);
  border-style: solid;
  border-width: 1px;
  border-color: lightblue;
}

.homebutton:hover {
  border-radius: 10%;
  outline: 2px solid rgb(78, 147, 245);
}

.gradient-custom {
  /* fallback for old browsers */
  background: #65aef6;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right bottom,
    rgba(125, 195, 253, 1),
    rgba(93, 148, 251, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right bottom,
    rgba(125, 195, 253, 1),
    rgba(93, 148, 251, 1)
  );
}

#profileButton:hover {
  width: 50%;
  margin: auto;
  margin-bottom: 10%;
  border-radius: 10%;
  outline: 2px solid white;
}


.materialcardUser {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}